<div class="row">
  <div class="col-sm-6 offset-sm-2" id="tabBox">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="youtube-tab" data-toggle="tab" href="#youtube" role="tab" aria-controls="youtube" aria-selected="true">Youtube</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="reddit-tab" data-toggle="tab" href="#reddit" role="tab" aria-controls="reddit" aria-selected="false">Reddit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="stack-tab" data-toggle="tab" href="#stack" role="tab" aria-controls="stack" aria-selected="false">StackOverflow</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" id="code-tab" data-toggle="tab" href="#code" role="tab" aria-controls="code" aria-selected="false">Code Snips</a>
        </li> -->
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="youtube" role="tabpanel" aria-labelledby="youtube-tab">
            <div class="card-group allvideos">
                {{#each items}}
                {{#if this.youtube}}
                <div class="col-xs-2">
                <div class="card tubeCard" style="width: 18rem;">
                  <img class="card-img-top" src="https://img.youtube.com/vi/{{videoId}}/hqdefault.jpg" alt="{{title}}">
                  <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <button class="btn btn-primary viewBtn" value="{{videoId}}">View Video</button>
                  </div>
                </div>
                </div>
                {{/if}}
                {{/each}}
                </div>
        </div>
        <div class="tab-pane fade" id="reddit" role="tabpanel" aria-labelledby="reddit-tab">
            {{#each items}}
            {{#if this.reddit}}
            <div class="col-sm-6 offset-sm-3">
                <div class="card text-center redditCard">
                    {{!-- <div class="card-header">
                        <strong>Posted by:</strong> {{author}}
                    </div> --}}
                    <div class="card-body">
                        <u><h5 class="card-title">{{this.title}}</h5></u>
                        <a href="{{url}}" target="_blank" class="card-text">{{url}}</a>
                    </div>
                    <div class="card-footer">
                        <strong>Upvotes:</strong>{{score}}
                    </div>
                </div>
            </div>
            {{/if}}
            {{/each}}

        </div>
        <div class="tab-pane fade" id="stack" role="tabpanel" aria-labelledby="stack-tab">
            {{#each items}}
            {{#if this.stack}}
            <div class="col-sm-6 offset-sm-3">
            <div class="card">
            <div class="media">
                <img class="align-self-start mr-3" src="{{owner.profile_image}}" alt="Poster Image">
                <div class="media-body">
                <div class="card-header">
                    <h5 class="mt-0">{{title}}</h5>
                    </div>
                    <div class="card-body stackCard">
                    <p>Score: {{score}} </p>
                    <a href="{{url}}" target="_blank">{{url}}</a>
                   </div>
                </div> 
            </div>
            </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
        <!-- <div class="tab-pane fade" id="code" role="tabpanel" aria-labelledby="code-tab">Code Snippets</div> -->
      </div>
</div>
</div>